<div class="container-fluid">
  <div class="row py-2 title-bar inline-header">
    <div class="col">
      <h4>Billing</h4>
    </div>
  </div>
  <div class="row">
    <div class="card card-body p-2 mt-0 mb-3">
      <div class="form-row">
        <div class="input-group input-group-sm inventory-filter col-3">
          <div class="input-group-prepend">
            <div class="input-group-text">Item</div>
          </div>
          <ng-select class="form-control" placeholder="Item" [items]="inventory" bindLabel="prodname" [(ngModel)]="selectedItem" (change)="itemSelected(selectedItem)"
            [disabled]="isBillSaved">
          </ng-select>
        </div>
        <div class="input-group input-group-sm col-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Quantity</div>
          </div>
          <input type="number" class="form-control" placeholder="" [(ngModel)]="billItem.quantity" [disabled]="!selectedItem">
        </div>
        <div class="input-group input-group-sm col-2">
          <div class="input-group-prepend">
            <div class="input-group-text">MRP</div>
          </div>
          <input type="text" class="form-control" placeholder="" [(ngModel)]="billItem.unitprice" disabled>
        </div>
        <div class="input-group input-group-sm col-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Tax</div>
          </div>
          <input type="text" class="form-control" placeholder="" [(ngModel)]="billItem.tax" disabled>
        </div>
        <div class="input-group input-group-sm  col-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Discount</div>
          </div>
          <input type="text" class="form-control" placeholder="" [(ngModel)]="billItem.offvalue" [disabled]="!selectedItem">
        </div>
        <div class="input-group input-group-sm col-1">
          <button type="submit" (click)="onNewBillItem()" class="btn btn-sm btn-outline-primary btn-block" [disabled]="!selectedItem">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showError" class="row">
    <div class="col">
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
    </div>
  </div>
  <div class="row bill-items">
    <div class="col-12">
      <table class="table table-bordered table-hover table-sm bg-white mb-0">
        <thead>
          <tr class="text-primary font-italic">
            <td scope="col">#</td>
            <td scope="col">Item Name (MRP|Discount)</td>
            <td scope="col">Unit Price</td>
            <td scope="col">Quantity</td>
            <td scope="col">Net Amount</td>
            <td scope="col">Tax</td>
            <td scope="col">Tax Value</td>
            <td scope="col">Total</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="bill.items.length === 0">
            <td class="text-center" scope="row" colspan="8">No Items Added !!!</td> 
          </tr>
          <tr *ngFor="let billitem of bill.items, let i = index">
            <td scope="row">{{i+1}}</td>
            <td>{{billitem.prodname }} ( {{ billitem.unitprice*(billitem.tax+100)/100 + (billitem.offvalue) | number:'1.0-2'}}
              | {{billitem.offvalue | number:'1.0-2'}} )</td>
            <td>{{billitem.unitprice | number:'1.0-2'}}</td>
            <td>{{billitem.quantity}}</td>
            <td>{{billitem.unitprice*billitem.quantity | number:'1.0-2'}}</td>
            <td>{{billitem.tax | number:'1.1-2'}} %</td>
            <td>{{billitem.unitprice*billitem.quantity*billitem.tax/100 | number:'1.0-2'}}</td>
            <td>
              {{billitem.unitprice*billitem.quantity + (billitem.unitprice*billitem.quantity*billitem.tax/100) | number:'1.2-2'}}
              <div class="btn btn-outline-danger removeitem float-right" (click)="onBillItemRemove(billitem)">
                <fa name="close"></fa>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="mx-0 bill-bottom bg-white py-2">
    <div class="row">
      <div class="col">
          <table  class="table borderless bg-white mb-0">
              <tbody>
                <tr>
                  <td rowspan="2" class="py-1">
                      <h4># {{bill.billid}}
                          <small *ngIf="bill.items.length === 0" class="text-muted">No Items Added</small>
                          <small *ngIf="bill.items.length === 1" class="text-muted">Total {{bill.items.length}} Item</small>
                          <small *ngIf="bill.items.length > 1" class="text-muted">Total {{bill.items.length}} Items</small>
                        </h4>
                  </td>
                  <td class="py-1 text-uppercase text-center">
                      <h6>Discount</h6>
                  </td>
                  <td class="py-1 text-uppercase text-center">
                      <h6>Tax</h6>
                  </td>
                  <td class="py-1 text-uppercase text-center">
                      <h6>TOTAL</h6>
                  </td>
                  <td class="py-1">
                      <button type="button" (click)="onNewBill()" class="btn btn-sm btn-primary btn-block" [disabled]="bill.items.length < 1 || onDC || isBillSaved">Save</button>
                  </td>
                </tr>
                <tr>
                  <td class="py-1 text-center">
                    <h4>
                    <span [innerHTML]="bill.offvalue | currency:'INR':'symbol-narrow':'1.2-2'"></span>
                  </h4>
                  </td>
                  <td class="py-1 text-center">
                    <h4>{{bill.tax | currency:'INR':'symbol-narrow':'1.2-2'}}</h4>
                  </td>
                  <td class="py-1 text-center">
                      <h2>{{bill.total | currency:'INR':'symbol-narrow':'1.2-2'}}</h2>
                  </td>
                  <td class="py-1">
                      <button type="button" (click)="onClearBill()" class="btn btn-sm btn-secondary btn-block" [disabled]="!isBillSaved || onDC">New</button>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
