.sidebar-btn {
    color: rgb(255, 255, 255);

    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-size: 15px;
    font-weight: 300;

    border-bottom: 2px solid rgb(46, 42, 42);
}

.sidebar-btn:hover{
    color: rgb(126, 211, 233);
    border-bottom: 2px solid rgb(126, 211, 233);
}

.sidebar-btn-header {
    color: rgb(119, 117, 117);

    padding-left: 15px;
    padding-top: 10px;
    
    font-size: 15px;
    font-weight: 500;

    border-bottom: 2px solid rgb(46, 42, 42);
}

.sidebar-btn-group{
    padding-left: 25px;
}


.sidebar-btn-clicked {
    color: rgb(126, 211, 233);
    border-bottom: 2px solid rgb(126, 211, 233);
}