<div class="container-fluid mb-3">
  <div class="row py-2 title-bar inline-header">
    <div class="col">
      <h4>Inventory</h4>
      <div class="btn-group ml-5 mb-1">
          <button type="button" (click)="showAll()" class="btn btn-sm tab-btn" [ngClass]="{'active' : filterClicked === 0, 'btn-outline-info' : filterClicked === 0, 'btn-outline-light' : filterClicked != 0}">
            All Items
          </button>
          <button type="button" (click)="filterLowStock()" class="btn btn-sm tab-btn" [ngClass]="{'active' : filterClicked === 1, 'btn-outline-warning' : filterClicked === 1, 'btn-outline-light' : filterClicked != 1}">
            Low Stock Items
          </button>
          <button type="button" (click)="filterEmptyStock()" class="btn btn-sm tab-btn" [ngClass]="{'active' : filterClicked === 2, 'btn-outline-danger' : filterClicked === 2, 'btn-outline-light' : filterClicked != 2}">
            Empty Stock Items
          </button>
          <button type="button" (click)="filterWithOffer()" class="btn btn-sm tab-btn" [ngClass]="{'active' : filterClicked === 3, 'btn-outline-primary' : filterClicked === 3, 'btn-outline-light' : filterClicked != 3}">
            With Offer
          </button>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="card card-body p-2 mt-0 mb-3">
          <div class="form-row">
            <div class="col-4 inventory-search">
              <!-- <div>
                <h6>Search Item</h6>
              </div> -->
              <ng-select class="ng-selct-form-control" placeholder="Search Item" [items]="inventory" bindLabel="prodname" [(ngModel)]="selectedItem"
                (change)="onItemSelected()">
              </ng-select>
            </div>
            <div class="col-4 inventory-search">
              <!-- <div>
                <h6>Search Category</h6>
              </div> -->
              <ng-select class="ng-selct-form-control" placeholder="Search Category" [items]="categories" bindLabel="name" [(ngModel)]="selectedCategory"
                multiple="true" disabled>
              </ng-select>
            </div>
            <div class="col-4  inventory-search">
                <!-- <div>
                    <h6>Sort Items</h6>
                  </div> -->
                <ng-select class="ng-selct-form-control" placeholder="Sort Items" [items]="inventory" bindLabel="prodname" [(ngModel)]="selectedItem"
                (change)="onItemSelected()" disabled>
              </ng-select>
            </div>
          </div>
        </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-inventorypagination [data]="inventorySorted"></app-inventorypagination>
    </div>
  </div>
</div>
