/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,body {
    height: 100%;
    width: 100%;
    background-color: #D4D8D9 !important; 
}

app-root { 
    height: 100%;
    min-height: 100%; 
    max-height: 100%;
    display: flex;
    width: 100%;
}

app-dashboard,app-inventory,app-items,app-billing,app-billhistory,app-purchase,app-purchasehistory,app-settings  {
    vertical-align: top;
    position: absolute;
    left: 150px;
    top: 0px;
    right: 0px;
    width: calc(100% - 150px);
    height: 100%;
    overflow-y: scroll;
    font-size: 0.9rem;
    line-height: 1.25;
}

app-billhistorypagination {   
    font-size: 0.9rem;
    line-height: 1.25;
}

.inventory-search > .ng-select {
    border:0px;
    border-radius: 0;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.inventory-search > .ng-select .ng-control  {            
    min-height: 31px;
    border-radius: 0.2rem;
    border: 1px solid rgba(77, 85, 87, 0.5);
}

.inventory-search > ng-select > .ng-select-dropdown-outer .ng-select-dropdown .ng-option {
    padding: 3px 10px;
}

.input-group-sm.inventory-filter > .ng-select.form-control {
    border:0px;
    border-radius: 0;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.input-group-sm.inventory-filter > .input-group-append > .btn {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.input-group-sm.inventory-filter > .ng-select.form-control .ng-control  {            
    min-height: 31px;
    border-radius: 0.2rem;
}

ng-select.form-control > .ng-select-dropdown-outer .ng-select-dropdown .ng-option {
    padding: 1px 10px;
}

.input-group > ng-select.form-control {
    padding-right: 0px;
    padding-left: 0px;
}

.form-control.ng-select.ng-multiple .ng-control .ng-value-container {
    padding-top: 4px;
}

::-webkit-scrollbar {
display: none;
}

ng-datepicker, .my-date-picker > .ngx-datepicker-container {
    display: inline;
    background-color: #394044;
}

ng-datepicker, .my-date-picker > .ngx-datepicker-container .ngx-datepicker-input {
    margin-bottom: 0.25rem;
    margin-right: 0.5rem;
    border-radius: 6px !important;
    border-color: #7ED3E9 !important;
    background-color: #394044;
    color:#7ED3E9 !important;
}

ng-datepicker, .my-date-picker > .ngx-datepicker-container .ngx-datepicker-calendar-container {
    z-index: 50;
}